<%- include ('../index/header') %>
<div class="uk-grid-small uk-animation-slide-bottom-small" uk-grid="masonry: true;">
    <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body" >
            <div>
                <h2>매장 통합 관리</h2>
            </div>
            <div>
                <button id="btn-add-store" class="uk-button uk-button-primary" href="#store-modal" uk-toggle>매장 추가하기</button>
            </div>
            <div>
                <table class="uk-table uk-table-hover uk-table-small uk-table-middle uk-table-divider">
                    <thead>
                        <tr>
                            <th>상점 이름</th>
                            <th>메뉴 추가</th>
                            <th>메뉴 보기</th>
                            <th>설정</th>
                        </tr>
                    </thead>
                    <tbody id="table-data"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="div-menu" class="uk-width-1-1 uk-animation-slide-top-small hidden">
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-flex uk-flex-between">
                <div>
                    <h2>판매중인 상품 조회</h2>
                </div>
                <div id="btn-div-menu-close">
                    <button class="uk-close-large" type="button" uk-close></button>
                </div>
            </div>
            <!-- <div>
                <button id="btn-add-menu" class="uk-button uk-button-primary" href="#menu-modal" uk-toggle>상품 추가</button>
            </div> -->
            <!-- <select class="uk-select" id="store-list">
                <option>매장 선택</option>
            </select> -->
            <div id="menu-data">
            </div>
        </div>
    </div>
    
</div>








<%- include ('./storeModal') %>
<%- include ('../menu/menuModal') %>
<%- include ('../index/alertModal') %>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/addressAPI.js"></script>
<script src="/js/menu/menuApi.js" type="module"></script>
<script src="/js/storeApi.js" type="module"></script>

<%- include ('../index/footer') %>